.deck {
  margin-bottom: 10px;
  width: 150px;
  height: 211px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
}

.card {
  margin: 0 10px;
  width: 80px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
}